/* CSSのリセット（消さないでください） */
html,
body,
h1,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
    justify-content: center;
    align-items: center;
}

header {
    height: 75px;
    width: 100%;
    background-color: #9eceff;
}
.container {
    text-align: center;
    line-height: 75px;
}
main {
    margin: 10px;
}
.Item {
    padding: 10px;
    margin: 5px;
}
.red {
    background: #9eceff;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
h4 {
    padding: 5px 50px;
}
